@import "tailwindcss";

/* Custom theme tokens */
@theme {
  --color-primary: #979d8a;
  --color-secondary: #BBBBAE;
  --color-accent: #989C8A;
  --color-muted: #7D7D68;
  --color-background: #EAEBE7;

  --font-sans: Inter,  sans-serif;
  --font-heading: Poppins,  sans-serif;
}

/* Optional reusable components */
@layer components {
  .nav-link {
    @apply text-sm font-medium text-gray-700 hover:text-[--color-primary];
  }
}



.zalando-sans-expanded {
  font-family: "Zalando Sans Expanded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
